[Unit]
Description=Dual MPV Autostart
After=multi-user.target

[Service]
Type=simple
ExecStart=/bin/bash /boot/firmware/splash/start_dual.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target